h1{
font-size: 30px;
text-align: center;
font-family: Arial;
color: #146f85
}

body{
font-size: 16px;
font-family: Helvetica, sans-serif;
color: #333333;
}

body {
	text-align: justify;
	background-image: url(symphony.png)
}

